{% extends "base.html" %}

{% block content %}
<main>

  <!-- <main role="main" class="container"> -->

   <!-- Places all elements within a container> -->
  <div class="container">
    <h1>Filter Page</h1>
    <h3>Find Item</h3> 

  <!--START OF FILTERS-->
    <form method="GET" action=".">

      <!-- Search Bar -->
      <div class="form-row">
          <div class="form-group col-12">
              <div class="input-group">
                  <input class="form-control py-2 border-right-0 border" type="search" name="universal_search" placeholder="Search for item" />
                  <span class="input-group-append">
                      <div class="input-group-text bg-transparent">
                          <i class="fa fa-search"></i>
                      </div>
                  </span>
              </div>
          </div>        
      </div>


      <!-- Checkbox Shirt -->
      <div class="form-group col-md-4">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="shirt" name="shirt">
          <label class="form-check-label" for="shirt">
            Shirt
          </label>
        </div>
      </div>

      <!-- Checkbox All.Code works -->
      <div class="form-group col-md-4">
        <div class="form-check">
          <input class="form-check-input" type="checkbox"  id="all-categories" name="all-categories">
          <label class="form-check-label" for="all-categories">
            All
          </label>
        </div>
      </div>

  
        <!-- Label Filter -->
        <div class="form-group col-md-4">
          <label for = "item_status">Item Status</label>
    
          <select id = "item_status" class = "form-control" name = "item_status">
            
    
    
            <!-- Default idle display -->
            <option selected> Filter Item Status</option>
    
              {% for item_status in all_item_label %}
              <option value = "{{item_status.label}}">{{item_status.label}}</option>
              {% endfor %}
    
          </select>
        </div>
      
        


      <!-- Submit Button -->
      <button type="submit" class="btn btn-primary">Search</button>
    </form>

  
    <!-- Return Results -->
      <h3>Results</h3>
      <ul>
        {% for item in queryset %}
          <li>
            {{ item.title }}
            <span>Price: {{ item.price }} |</span>
            <span>Discounted Price: {{ item.discount_price }} |</span>
            <span>Category: {{ item.category }}</span>
          </li>
        {% endfor %}
      </ul>

     <!-- Return Results as a card. SUCCESS!!!-->
{% for item in queryset %}
<div class="col-lg-3 col-md-6 mb-4">

  <div class="card">

    <!--Card image-->
    <div class="view overlay">

      <!--Got no fucking idea what this is-->
      <!-- {% comment %} <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg"
        class="card-img-top" {% endcomment %}  -->

      <img src="{{ item.image.url }}" class="card-img-top">

      <a href="{{ item.get_absolute_url }}">
        <div class="mask rgba-white-slight"></div>
      </a>

    </div>

    <!--Card content-->
    <div class="card-body text-center">
      <a href="" class="grey-text">
        <h5>{{ item.get_category_display }} </h5> <!--Category Shirt, Outerwear etc.-->

      </a>



      <!--Price of item-->
      <h3 class="font-weight-bold blue-text">
        <strong>$
          {% if item.discount_price %}
          {{ item.discount_price }}
          {% else %}
          {{ item.price }}
          {% endif %}
        </strong>

      </h3>

      <!--Name of Item-->
      <h5>
        <strong>
          <a href="{{ item.get_absolute_url }}" class="dark-grey-text">{{ item.title }}
            <span
              class="badge badge-pill {{ item.get_label_display }}-color">NEW</span><!--Label: New , Low Stock-->
          </a>
        </strong>
      </h5>

    </div>

  </div>

</div>
{% endfor %}

</div>

 

{% endblock content %}